include LICENSE
include README.md
include pyproject.toml
include requirements.txt

recursive-include rownd_flask *.py
recursive-include tests *.py

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude .git*
